# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code settings
.vscode/

# Project specific temporary/test output files
test_output.json
extracted_*.json
